html,
body {
  background:  linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('https://wallpapercave.com/wp/twzB0fS.jpg') no-repeat center center/cover ;
  height: 150vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}