html,
body {
  background:  linear-gradient(rgba(241, 240, 240, 0.4), rgba(241, 241, 241, 0.4)), url('https://wallpapercave.com/wp/twzB0fS.jpg') no-repeat center center/cover ;
  height: 150vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}